.course-view {
	@extend .header;

	&--container {
		@extend .container;

		&-white {
			@extend .bg-light;

			padding: 1rem;
		}
	}
	&--video {
		@extend .embed-responsive-item;

		&-container {
			@extend .embed-responsive;
			@extend .embed-responsive-16by9;
		}
	}
	&--title {
		@extend .display-3;
	}
	&--controls {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&--description {
		
	}
}
