.userprofile {
	width: 90%;
	height: auto;
	margin: 10% auto;
	padding: 20px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	background-color: #fff;

	@include media-breakpoint-up(sm) {
		width: 80%;
	}
	@include media-breakpoint-up(md) {
		flex-wrap: nowrap;
	}
	@include media-breakpoint-up(lg) {
		
	}
		
	&__picture {
		position: relative;
		text-align: center;
		width: 100%;
		padding: 10px;
		
		&--img {
			width: 100%;
			box-shadow: 0 1rem 1rem #000;

			@include media-breakpoint-up(sm) {
				width: 80%;
			}
			@include media-breakpoint-up(md) {
				width: 50%;
			}
		}
	}
	&__info {
		width: 100%;

		&--edit {
			@extend .btn;
			@extend .btn-primary;
		}
	}
}
