// Your variable overrides
$enable-gradients: true;
$fallback-border-radius: 20px;
$body-bg: #fcf8f3;
$body-color: #111;
$theme-colors: (
  "primary": #BF7F7B,
  "secondary": #ffd3b6,
  "danger": #ff736c
);